<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @switch.name %>
</p>

<p>
  <strong>Local ip:</strong>
  <%= @switch.local_ip %>
</p>

<p>
  <strong>User:</strong>
  <%= @switch.user %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @switch.pass %>
</p>

<%= link_to 'Edit', edit_switch_path(@switch) %> |
<%= link_to 'Back', switches_path %>
